<!-- <div class="col-md-12">
This is the managerDashboard view.
</div> -->
<div ng-include="'components/navbar/navbar.html'"></div>

<div id="dashBoardPage">
  
  <template type="text/html" id="noteTakingTemplate">
    
    <div id="ng-app"  ng-controller="demoController" class="ng-scope">
      <!-- <h4>Project Name: <input id='projectName' size="50" type='textarea' ng-model="projectName" /> </h4> projectData--> 
      <div class="wrapper">
        <span class="titleLabel" ng-show="projectName.name">Project: </span>
        <span class="projectTitle">{{projectName.name}}&nbsp;</span>
        <button ng-hide="htmlcontent || projectName.name" type="button" class="btn btn-info" ng-model="projectName" data-html="1" ng-options="project as project.name for project in projectData" bs-select>
          Action <span class="caret"></span>
        </button> 
        <span ng-hide="projectName.name"> or&nbsp;</span>
        <button data-animation="am-fade-and-scale" data-template="app/notesDashboard/createNewProject.html" bs-modal="newProjectModal" ng-hide="projectName.name" type="submit" class="btn btn-success">Start New Project</button>
      
    

      <div ng-mouseleave="actionItemTextSet()" ng-mouseenter="actionItemTextClear()" class="container lighter">
        <div ng-show="projectName.name" text-angular="text-angular" ng-model="htmlcontent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
      </div>
      <span ng-show="projectName.name" >
        <button type="submit" class="btn btn-primary" ng-model="htmlcontent" ng-click="saveNotes()"><i class="fa fa-save"></i> Save</button>
        <button type="submit" class="btn btn-primary" ng-model="htmlcontent" ng-click="sendEmail()"><i class="fa fa-send-o"></i> Notes</button>
        <button data-animation="am-fade-and-scale" data-template="app/notesDashboard/createActionItem.html" bs-modal="modal" type="submit" class="btn btn-info" ng-click="creatActionItem()">Create Action Item</button>
        <button data-animation="am-fade-and-scale" data-template="app/notesDashboard/createActionItem.html" bs-modal="modal" ng-show="actItemTxt" type="submit" class="btn btn-success">Make Actionable</button>
      </span>
        <input id='makeAction' ng-show="actItemTxt && projectName.name" type='textarea' size="{{actItemTxtLen}}" ng-model="actItemTxt" />
      <br>
      </div>
      <div ng-hide="projectName.name">
        <img src="assets/images/icon_14339.png" style="width:auto;height:480px">
        <br><br>
        <p class="nounProject">Pen by Phil Gibson from The Noun Project</p>
      </div>
      <div ta-bind="text" ng-model="htmlcontent" ta-readonly='disabled'></div>
      <br>

    </div>
  </template>

  <template type="text/html" id="userlistTemplate">
    <div ng-controller="userlistCtrl" >

      <ul  class="userlist">
        <div ng-hide="projectName.name">
        <br>
          <img src="assets/images/icon_23892.png" style="width:auto;height:225px">
          <br><br>
          <p class="nounProject">People by Wilson Joseph from The Noun Project</p>
        </div>
        <li ng-repeat="user in users" 
            ng-click="select( user )"
            ng-class="{selected:user.isSelected}">
          {{user.name}}
        </li>
      </ul>

      <div ng-show="projectName.name">
        <label>Select Project Team:&nbsp;</label>
        <button type="button" class="btn btn-default" ng-model="users" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="contact as contact.name for contact in allContacts" bs-select> 
          Action <span class="caret"></span> 
        </button>
        <button type="submit" class="btn btn-primary" ng-model="htmlcontent" ng-click="setTeam()"><i class="fa fa-group"></i> Save Team</button>
      </div>

    </div>   
  </template>

  <template type="text/html" id="userDetailTemplate">
    <ul ng-controller="userdetailsCtrl" class="userdetails">
      <div ng-hide="projectName.name">
      <br>
        <img src="assets/images/icon_36672.png" style="width:auto;height:225px">
        <p class="nounProject">People by Wilson Joseph from The Noun Project</p>
      </div>
      <li ng-repeat="action in actionItems" 
          ng-click="select( action )"
          ng-class="{selected:action.isSelected}">
        {{action.title}}
      </li>
    </ul>  
  </template>

</div>